.home {
  font-family:'Segoe UI', Tahoma,Verdana, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  max-width: 100vw;
  min-height: 100vh;
  padding-top: 100px;
  transition: 0.35s;
}

/* temp contains product list and categories */
.temp{
  display: flex;
  flex-direction: row;
}

.categories {
  font: bold;
  margin: 15px; 
  padding: 10px;
  max-width: 250px; 
}

#category1{
  border-top: 2px solid black;
}

.categories h2{
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: rgb(255, 188, 188);
  margin: 0;
  padding: 5px;
  list-style: none;
}
.categories h2:hover{
  background-color: #783232;
  cursor:pointer;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-right: 250px;
}




.product-card {
  /* display: table-cell;
  vertical-align: middle; */
  flex: 0 0 auto;
  color: black;
  margin: 10px;
  max-width: 400px;
  text-align: left; 
  justify-content: center;
  align-items: center;
}



.product-info{
  background-color: rgb(255, 188, 188);
  padding: 10px;
  /* color: aliceblue; */
  color: black;
}

.product-price{
  margin: 0;
  padding: 5px;

}
.product-name{
  padding: 0 5px;
  margin: 0;
  
}

.about {
  padding:0 20px;
  background-color: rgb(255, 188, 188);;
}

.contact{
  padding:0 20px;
  background-color: rgb(255, 188, 188);
}