.product-description{
    display: flex;
    align-items: center;
    justify-content: center;
}


.product-info{
    background-color:#712F3E;
    padding: 10px;
    /* color: aliceblue; */
    color: #f6f6f6;
  }

  
  