
/* navigation bar and header */
.navbar{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: white;
    font-weight: bold;
    display: flex;
    position: absolute;
    width: 100%;
    max-width: 100vw;
    height: 70px;
    align-items: center;
    margin: auto;
    padding-left: 10px;
    font-size: 22px;
    /* position: fixed; */
}

.navbar p{
  color: #783232;
  text-decoration: none;
  padding-left: 15px;
}

.navbar p:hover{
    cursor: pointer;
    color: white;
}

/* 4 links styling */
.content {
    margin: auto;
}

.content ul{
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}
/* when hovering over navbar links */
.links a{
  color: white;
  transition: 0.3s;
  text-decoration: none;
}

.links a:hover{
  cursor: pointer;
  transition: 0.3s;
  color: #783232;


}
/* search area */

.search-bar{
  display:inline-flex;
  /* flex-direction: row; */
  align-content: left;
  margin-left: 24px;
  margin-right: auto;
}

#search-input{
  width: 267px;
  height: 35px;
  border:white solid 2px;
  transition: 0.5s;
}

#search-input:hover{
  border:#783232 solid 2px;
  
}

.search-icon{
  height: 35px;
  stroke: white;
  transition: 0.35s;
  margin-top: 5px;
}

.navbar svg:hover{
    stroke:#783232
}

/* shopping cart icon */
.cart-icon{
    stroke: white;
    margin-top: 4px;
    margin-right: 10px;
    margin-left: auto;
    cursor: pointer;
    transition:0.35s
}

.cart-icon:hover{
    stroke:#783232;
    cursor: pointer;
}

